@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
     font-size: 100%;
     background: #111111;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 35px;
}

.menu{
    display: flex;
    gap: 44px;
}

.header-button{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
}

.testimonial{
    display: flex;
    flex-direction: row;
}

.button{
    background: linear-gradient(270deg, #C21926 0%, #9E101A 97.65%);
    font-family: 'Lato';
    font-style: normal;
    width: 170px;
    height: 42px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border: none;
}

.testimonial{
    padding-left: 135px;
    padding-right: 82px;
}

.subtitle-presentation{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    color: #F44243;
}

.title-presentation{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 96px;
}

.text-testimonial{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #91969A;
    padding-top: 32px;
    padding-bottom: 56px;
}

.tesimonial-information{
    padding-left: 175px;
    padding-top: 63px;
}

